body {
    --color: #000;
    --bg-color: #fff;

    margin: 0;
    font-family: sans-serif;
    color: var(--color);
    background-color: var(--bg-color);
    transition: color 0.5s, background-color 0.5s;
}
body.dark {
    --color: #ccc;
    --bg-color: #222;

    color: var(--color);
    background-color: var(--bg-color);
}

.site-header a {
    text-decoration: none;
}
.site-header .header-content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    max-width: 800px;
    margin: 0 auto;
    padding: 1em 2em;
    border-bottom: 1px solid var(--color);
}
.site-header .header-left {
    --font-size: 1.4em;

    display: flex;
    align-items: center;
}
.site-header .header-right {
    --font-size: 1.2em;

    display: flex;
    align-items: center;
}
.site-header .site-title {
    font-size: var(--font-size);
    font-weight: lighter;
}
.site-header .site-title {
    color: var(--color);
}
.site-header nav {
    font-size: var(--font-size);
}
.site-header nav ul {
    display: flex;
    flex-direction: row;
    margin: 0;
    list-style-type: none;
}
.site-header nav ul li {
    margin: 0 0 0 1em;
}
.site-header .theme-toggle {
    display: flex;
    align-items: center;
    margin: 0 0 0 1em;
    color: var(--color);
}
.site-header .theme-toggle-icon {
    height: var(--font-size);
}

main {
    max-width: 800px;
    margin: 1em auto;
    padding: 1em;
}

main article {
    font-family: serif;
}

footer {
    text-align: center;
}
footer p {
    margin: 0.3em;
}

a {
    color: #c22;
}
h1, h2, h3, h4, h5, h6 {
    font-family: sans-serif;
}
pre {
    overflow-x: auto;
}
