<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="utf-8">
    <meta name="author" content="{{siteAuthor}}">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="/js/main.js"></script>
    <link rel="stylesheet" href="/css/main.css">
    <link rel="icon" href="/favicon.png" sizes="64x64">
    <link rel="icon" href="/favicon-large.png" sizes="192x192">
    <link rel="apple-touch-icon" href="/favicon-large.png">
    <title>{{title}} - {{siteTitle}}</title>
</head>
<body>
    <header class="site-header">
        <div class="header-content">
            <div class="header-left">
                <a class="site-title" href="/">
                    {{siteTitle}}
                </a>
            </div>
            <div class="header-right">
                <nav>
                    <ul>
                        <li>
                            <a href="https://github.com/cordx56/blog.cordx.cx">Repo</a>
                        </li>
                    </ul>
                </nav>
                <div>
                    <a class="theme-toggle" href="javascript: toggleDark()">
                        <svg xmlns="http://www.w3.org/2000/svg" class="theme-toggle-icon" viewBox="0 0 512 512"><!--! Font Awesome Free 6.4.2 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2023 Fonticons, Inc. --><path fill="currentColor" d="M448 256c0-106-86-192-192-192V448c106 0 192-86 192-192zM0 256a256 256 0 1 1 512 0A256 256 0 1 1 0 256z"/></svg>
                    </a>
                </div>
            </div>
        </div>
    </header>
